CheckListSolution/Systems/Identity/bin
CheckListSolution/Systems/Identity/obj

CheckListSolution/Systems/Api/bin
CheckListSolution/Systems/Api/obj
CheckListSolution/Systems/Api/logs

CheckListSolution/Shared/Common/bin
CheckListSolution/Shared/Common/obj

CheckListSolution/Services/CheckListService/bin
CheckListSolution/Services/CheckListService/obj

CheckListSolution/Services/Settings/bin
CheckListSolution/Services/Settings/obj

CheckListSolution/Data/DbEntities/bin
CheckListSolution/Data/DbEntities/obj

CheckListSolution/Data/MainDbContext/bin
CheckListSolution/Data/MainDbContext/obj

CheckListSolution/bin
CheckListSolution/obj



